@font-face {
    font-family: 'DepartureMono';
    src: url('./assets/DepartureMono-1.420/DepartureMono-1.420/DepartureMono-Regular.otf') format('truetype'); /* Adjust the path as necessary */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'helvetica-neue-5';
    src: url('./assets/DepartureMono-1.420/DepartureMono-1.420/HelveticaNeue.otf') format('truetype'); /* Adjust the path as necessary */
    font-weight: normal;
    font-style: normal;
  }


  .h1-stroke{
    -webkit-text-stroke: 4px #FF5931;
  }

  #stoked{
    -webkit-text-stroke: 0.3px black;
  }

  #bottom-g{
    -webkit-text-stroke: 0.6px black;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;
